<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
      <img class="brand-logo" src="assets/logo-JobBoB.svg" alt="positronX.io Logo"> 
      <span class="dasboard-text">Dashboard</span>
    </a>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">

      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1>Student names</h1>
      
      <ul>   
        <li  *ngFor = "let student of students">
          <a  href={{student.detailMail}}> 
          <!-- <button type="button">{{ student.firstName }} &nbsp;{{student.secondName}}</button> -->
          <button type="button" class="btn btn-primary" (click)="btnBackUser();"><i class="flex-md-nowrap"></i> {{ student.firstName }} {{student.secondName}}</button>
          </a>
          <p></p>
          <!-- {{ student.firstName }} &nbsp;{{student.secondName}} -->
        </li>
      </ul>
      </div>
    </div>
  </main>
