.mat-toolbar.mat-primary{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}


.wrapper {
    text-align: left;
    margin:auto;
    
}

.button {
    position: absolute;
    margin-left: 1000px; 
}