<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
      <img class="brand-logo" src="assets/logo-JobBoB-big-01-01.png" alt="positronX.io Logo"> 
      <span class="dasboard-text">Search</span>
    </a>
</nav>

<p>editprofile works!</p>

  <div class="container-fluid">
    <div class="row">  
      <!-- Main content -->
      
        <main>       
            <div class="inner-adjust">  
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">
                      <a>Search </a>
                      <button id='back' type="button" class="btn btn-primary" (click)="btnBackUser();"><i class="flex-md-nowrap"></i> Back</button>
                    
                    </h1>
                  </div>

                </div>
        </main>
    </div>

  </div>

<div id='select' >

  <div style="width: 40%; float:left" >

    <div style="width: 30%; float:left"></div>

    <div id='intdiv'>
      
    Select your interest :
    <select [(ngModel)]="interest" (change)="searchByInt()">
      <option value="">All</option>
      <option value="software">Software</option>
      <option value="electronics">Electronics</option>
      <option value="cybersecurity">Cybersecurity</option>
    </select>
    </div>

    <!-- filter remove button ????
    <button *ngIf="family" (click)="removeFilter('family')"> Remove filter </button> -->

  </div>
 
 <div style="width: 40%; float:left">
    Search by company name
    <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Enter company name..." (keyup)="searchByName()">

  </div>
       
</div>

<!-- <div>
  <ul>   
    <li  *ngFor = "let student of students">

      <button type="button">{{ student.companyName }} &nbsp;{{student.Op}}</button>

    </li>
  </ul>
</div> -->

<div class="list-group users-list">
  <div *ngFor="let student of students" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <!-- <div class="col col-md-2 image-col">
        <img class="image" [src]="item.payload.doc.data().avatar">
      </div> -->
      <div class="col col-md-4 text-col">
        <h5 class="mb-1">{{student.companyName}} </h5>
        <small>location: {{student.Address}}</small>
      </div>

      <div class="col col-md-7 text-col">
        <small>Oportunities : {{student.Op}} </small>
      </div>

      <div class="col col-md-1 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
          Visit
        </button>
      </div>
    </div>

  </div>
</div>
