
<div class="displayTable">
  
  <div class="displayTableCell">
      <div class="px-logo">
        <img src="assets/logo-JobBoB-big-01.svg" alt="Online job search">
    </div>
    
    <div class="row">
      <div class="column">
        <div class="authBlock">
          <h3>Sign In as Company</h3>
          <div class="formGroup">
            <input type="text" class="formControl" placeholder="Username" #userNameCom required>
          </div>

          <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPasswordCom required>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup">
            <input type="button" class="btn btnPrimary" name="button1" value="Log in " (click)="authService.SignInCompany(userNameCom.value, userPasswordCom.value)">
          </div>

          <!-- <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div> -->

          <!-- Calling GoogleAuth Api from AuthService -->
          <!-- <div class="formGroup">
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Log in with Google
            </button>
          </div> -->

          <div class="forgotPassword">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
        </div>

        <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/register-user-company"> Sign Up</span></span>
        </div>
  </div>
  <div class="column">
        <div class="authBlock">
          <h3>Sign In as Student</h3>
          <div class="formGroup">
            <input type="text" class="formControl" placeholder="Username" #userName required>
          </div>

          <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Log in" name="button2" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>

          <!-- <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div> -->

          <!-- Calling GoogleAuth Api from AuthService -->
          <!-- <div class="formGroup">
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Log in with Google
            </button>
          </div> -->

          <div class="forgotPassword">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
        </div>

        <div class="redirectToLogin">
          <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div>

  </div>
  </div>
</div>
</div>
 