<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
      <img class="brand-logo" src="assets/logo-JobBoB.svg" alt="positronX.io Logo"> 
      <span class="dasboard-text">Edit Profile</span>
    </a>
  </nav>
<p>editprofile works!</p>
<div class="container-fluid">
    <div class="row">
  
      <!-- <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/sign-up">
                <i class="fas fa-user"></i>Edit Profile
              </a>
            </li> -->
            <!-- Calling SignOut() Api from AuthService -->
            <!-- <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
              </li>
            </ul>
          </div>
        </nav>   --> -->
  
      <!-- Main content -->
      
        <main>
       
        <div class="inner-adjust">  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit Profile         
            <button type="button" class="btn btn-primary" (click)="btnBackUser();"><i class="flex-md-nowrap"></i> Back</button>
              </h1>   
            </div>         
        </div>
        <!-- edit user details column -->
        <div class="col-md-8"> 
          <form class="form-horizontal"  (ngSubmit)="onClickMe()" >                    
            
                <div class="form-group">
                    <div class="row">
                    <label class="col-sm-3 control-label" for="form-control-6">User ID</label>
                    <div class="col-sm-9">
                        <input name="userPrimaryData" input id="form-control-6" class="form-control" type="text"  disabled="disabled" [(ngModel)]="userPrimaryData">
                    </div>
                    </div>
                </div>
              
             
         
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-3 control-label" for="form-control-1 ">First Name</label>
                    <div class="col-sm-9">
                    <input name="firstName" id="form-control-1" class="form-control" type="text"   [(ngModel)]="firstName">
                    </div>
                </div>
            </div>   

          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-2">Second Name</label>
              <div class="col-sm-9">
                <input name="secondName" id="form-control-2" class="form-control" type="text"  [(ngModel)]="secondName">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-3">University</label>
              <div class="col-sm-9">
                <input name="University" input id="form-control-3" class="form-control" type="text" required [(ngModel)]="University" >
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-10">Interested Areas<span class="panel-subtitle">(Select Multiple Items)</span></label>
              <div class="col-sm-9">
                <select id="form-control-10" input name="interestedAreas" class="form-control" multiple="multiple">
                  <option value="Software">Software</option>
                  <option value="electronics">electronics</option>
                  <option value="machine learning">machine learning</option>
                  <option value="telecommunication">telecommunication</option>
                  <option value="web developing">web developing</option>
                  <option value="networking">networking</option>
                  <option value="cyber security">cyber security</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-9">Mobile Number</label>
              <div class="col-sm-9">
                <input name="mobile" input id="form-control-9" class="form-control" type="text" required [(ngModel)]="mobile" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-10">Interested Areas<span class="panel-subtitle">(Select Multiple Items)</span></label>
              <div class="col-sm-9">
                <select id="form-control-10" input name="interestedAreas" class="form-control" multiple="multiple" required [(ngModel)]="Details.Description">
                  <option value="Software">Software</option>
                  <option value="electronics">electronics</option>
                  <option value="machine learning">machine learning</option>
                  <option value="telecommunication">telecommunication</option>
                  <option value="web developing">web developing</option>
                  <option value="networking">networking</option>
                  <option value="cyber security">cyber security</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-11">Upload Your CV</label>
              <div class="col-sm-9">
                <input id="form-control-11" type="file" (change)="upload($event)" accept="pdf/*" multiple="multiple">
                <p class="help-block">
                  <small>Please upload it only in pdf format(below 15mb).
                  </small>
                </p>
              </div>              
            </div>
            <div *ngIf="profileUrl | async; let downloadSrc" class="alert alert-info" role="alert">
              File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
          </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label" for="form-control-8">Description</label>
              <div class="col-sm-9">
                <textarea name="Description" id="form-control-8" input name="Description" class="form-control"  [(ngModel)]="Description" rows="3" ></textarea>
              </div>
            </div>
          </div>  
          
          <h2 class="h2">
            <button type="button" class="btn btn-primary" (click)="onClickMe();"><i class="flex-md-nowrap"></i> Submit</button> 
          </h2>
          
          
<!--           
        <div class="submit-button">
          <button mat-flat-button color="primary" type="submit" (click)="onClickMe();">Submit</button>
          <label style="text-align:left;color:black;">{{key}}</label>
        </div>   -->
    </form>
  </div>
   
      <!-- <div class="submit-button">
        <button mat-flat-button color="primary" type="submit" >Submit</button>
        <label style="text-align:center;color:black;">{{key}}</label>
      </div>  -->
    
    </main>
    </div>    
  </div>
  
  <!-- <div [hidden]="!submitted">
    <h4>You submitted successfully! </h4>
  </div> -->




  