@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button {
    margin-left: 950px;  
  }

  input:focus::placeholder {
    color: transparent;
  } 

  /* .mat-form-field{margin-left: 30%;} */

  .mat-option{
    margin-left: 10px;
  }